{{ if (or (eq .chezmoi.hostname "inblrnb0230") (eq .chezmoi.hostname "inblrlxdt001")) -}}

[htv-local]
aws_access_key_id=localstack
aws_secret_access_key=localstack

[tpv-local]
aws_access_key_id=localstack
aws_secret_access_key=localstack

{{- end }}
