{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env zsh

set -eu

# {{ "$HOMEBREW_BUNDLE_FILE" | sha256sum }}

echo "brew bundle install" &&
  brew bundle install --no-upgrade --quiet

echo "brew bundle cleanup" &&
  brew bundle cleanup --force

{{- end }}
