{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env zsh

# {{ output "mise" "--version" | trim }}
mise completion zsh >"$ZDOTDIR/completions/_mise"

# {{ output "sesh" "--version" | trim }}
sesh completion zsh >"$ZDOTDIR/completions/_sesh"

{{- end }}
