{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env zsh

# {{ include "dot_config/private_homebrew/Brewfile" | sha256sum }}

echo "brew bundle install --no-upgrade" &&
  brew bundle install --no-upgrade

echo "brew bundle cleanup --force" &&
  brew bundle cleanup --force

{{- end }}
