{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env bash

cd "$(chezmoi execute-template '{{ .chezmoi.sourceDir }}')" || exit

{{ if eq .chezmoi.os "darwin" -}}
# HACK: Add `chezmoi` to NOPASS
root_cmd="sudo"
$root_cmd -v
{{- else -}}
root_cmd="doas"
{{- end }}

ZDIR=/etc/zsh
[ -d $ZDIR ] || mkdir -p $ZDIR

{{ if eq .chezmoi.os "linux" -}}
{{- if eq .chezmoi.osRelease.id "arch" -}}
# {{ include "__root__/etc/pacman.conf" | sha256sum }}
$root_cmd chezmoi execute-template \
  --output=$ZDIR/pacman.conf \
  <__root__/etc/pacman.conf
{{- end -}}
{{- end }}

# {{ include "__root__/etc/zsh/zprofile" | sha256sum }}
$root_cmd chezmoi execute-template \
  --output=$ZDIR/zprofile \
  <__root__/etc/zsh/zprofile

# {{ include "__root__/etc/zsh/zprofile" | sha256sum }}
$root_cmd chezmoi execute-template \
  --output=$ZDIR/zshenv \
  <__root__/etc/zsh/zshenv

# vim:ft=sh.chezmoitmpl
{{- end }}
