{{ if ne .chezmoi.os "windows" -}}
#!/usr/bin/env zsh

# {{ output "fnm" "--version" | trim }}
fnm completions --shell zsh >"$ZDOTDIR/completions/_fnm"

# {{ output "sesh" "--version" | trim }}
sesh completion zsh >"$ZDOTDIR/completions/_sesh"

{{- end }}
