##########
## FILES #
##########

#### Common

[".config/emacs"]
type = "git-repo"
url = "https://github.com/hlissner/doom-emacs"
refreshPeriod = "0"
clone.arguments = ["--depth", "1"]

[".config/tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm"
refreshPeriod = "168h"

# [".local/bin/cht.sh"]
# type = "file"
# url = "https://cht.sh/:cht.sh"
# refreshPeriod = "168h"
# executable = true

[".local/share/zsh-bench"]
type = "git-repo"
url = "https://github.com/romkatv/zsh-bench"
refreshPeriod = "168h"

######## Colors

# Catppuccin [Mocha|Latte] -- https://catppuccin.com

[".config/alacritty/themes/catppuccin-mocha.toml"]
type = "file"
url = "https://github.com/catppuccin/alacritty/raw/main/catppuccin-mocha.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/catppuccin-latte.toml"]
type = "file"
url = "https://github.com/catppuccin/alacritty/raw/main/catppuccin-latte.toml"
refreshPeriod = "168h"

[".config/bat/themes/Catppuccin Mocha.tmTheme"]
type = "file"
url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme"
refreshPeriod = "168h"

[".config/btop/themes/catppuccin_mocha.theme"]
type = "file"
url = "https://github.com/catppuccin/btop/raw/refs/heads/main/themes/catppuccin_mocha.theme"
refreshPeriod = "168h"

[".config/catppuccin/delta/catppuccin.gitconfig"]
type = "file"
url = "https://github.com/catppuccin/delta/raw/refs/heads/main/catppuccin.gitconfig"
refreshPeriod = "168h"

[".config/gitui/theme.ron"]
type = "file"
url = "https://github.com/catppuccin/gitui/raw/refs/heads/main/themes/catppuccin-mocha.ron"
refreshPeriod = "168h"

[".config/fsh/catppuccin-mocha.ini"]
type = "file"
url = "https://github.com/catppuccin/zsh-fsh/raw/refs/heads/main/themes/catppuccin-mocha.ini"
refreshPeriod = "168h"

[".config/yazi/theme.toml"]
type = "file"
url = "https://github.com/catppuccin/yazi/raw/refs/heads/main/themes/mocha/catppuccin-mocha-blue.toml"
refreshPeriod = "168h"

# Rosé Pine [Moon|Dawn] -- https://rosepinetheme.com/

[".config/alacritty/themes/rose-pine-moon.toml"]
type = "file"
url = "https://github.com/rose-pine/alacritty/raw/main/dist/rose-pine-moon.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/rose-pine-dawn.toml"]
type = "file"
url = "https://github.com/rose-pine/alacritty/raw/main/dist/rose-pine-dawn.toml"
refreshPeriod = "168h"

# [".config/bat/themes/"]

[".config/doom/themes/doom-rose-pine-theme.el"]
type = "file"
url = "https://github.com/donniebreve/rose-pine-doom-emacs/raw/refs/heads/main/doom-rose-pine-theme.el"
refreshPeriod = "168h"

[".config/doom/themes/doom-rose-pine-moon-theme.el"]
type = "file"
url = "https://github.com/donniebreve/rose-pine-doom-emacs/raw/refs/heads/main/doom-rose-pine-moon-theme.el"
refreshPeriod = "168h"

[".config/doom/themes/doom-rose-pine-dawn-theme.el"]
type = "file"
url = "https://github.com/donniebreve/rose-pine-doom-emacs/raw/refs/heads/main/doom-rose-pine-dawn-theme.el"
refreshPeriod = "168h"


##

#### Darwin
{{ if eq .chezmoi.os "darwin" -}}

["Applications/Menu Bar Spacing.app"]
type = "archive"
url = {{ gitHubLatestReleaseAssetURL "sindresorhus/menu-bar-spacing-meta" "Menu.Bar.Spacing.zip" | quote }}
stripComponents = 1
refreshPeriod = "168h"

{{- end -}}
##

#### Windows
{{ if eq .chezmoi.os "windows" -}}

[".config/dual-key-remap/dual-key-remap.exe"]
type = "archive-file"
url = "https://github.com/ililim/dual-key-remap/releases/download/v0.7/dual-key-remap-v0.7.zip"
executable = true
path = "dual-key-remap-v0.7/dual-key-remap.exe"
refreshPeriod = "168h"

{{- end -}}
##
