##########
## FILES #
##########

[".config/alacritty/catppuccin-mocha.toml"]
type = "file"
url = "https://github.com/catppuccin/alacritty/raw/main/catppuccin-mocha.toml"
refreshPeriod = "168h"

[".config/bat/themes/Catppuccin Mocha.tmTheme"]
type = "file"
url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme"
refreshPeriod = "168h"

[".config/btop/themes/catppuccin_mocha.theme"]
type = "file"
url = "https://github.com/catppuccin/btop/raw/refs/heads/main/themes/catppuccin_mocha.theme"
refreshPeriod = "168h"

[".config/catppuccin/delta/catppuccin.gitconfig"]
type = "file"
url = "https://github.com/catppuccin/delta/raw/refs/heads/main/catppuccin.gitconfig"
refreshPeriod = "168h"

{{ if eq .chezmoi.os "windows" -}}
[".config/dual-key-remap/dual-key-remap.exe"]
type = "archive-file"
url = "https://github.com/ililim/dual-key-remap/releases/download/v0.7/dual-key-remap-v0.7.zip"
executable = true
path = "dual-key-remap-v0.7/dual-key-remap.exe"
{{- end }}

[".config/gitui/theme.ron"]
type = "file"
url = "https://github.com/catppuccin/gitui/raw/refs/heads/main/themes/catppuccin-mocha.ron"
refreshPeriod = "168h"

[".config/yazi/theme.toml"]
type = "file"
url = "https://github.com/catppuccin/yazi/raw/refs/heads/main/themes/mocha/catppuccin-mocha-blue.toml"
refreshPeriod = "168h"

[".local/bin/cht.sh"]
type = "file"
url = "https://cht.sh/:cht.sh"
refreshPeriod = "168h"
executable = true

#############
## GIT-REPO #
#############

[".config/tmux/plugins/tpm"]
type = "git-repo"
url = "https://github.com/tmux-plugins/tpm"
refreshPeriod = "168h"

[".local/share/zsh-bench"]
type = "git-repo"
url = "https://github.com/romkatv/zsh-bench"
refreshPeriod = "168h"

# vim:ft=toml
