{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

# Key Rate
# https://apple.stackexchange.com/a/83923
defaults write -g InitialKeyRepeat -float 15.0 # 15 (225 ms)
defaults write -g KeyRepeat -float 1.5         # 2 (30 ms)

# Disable Animations
# https://apple.stackexchange.com/a/63477

# showing the Dock
defaults write com.apple.dock autohide-time-modifier -float 0
defaults write com.apple.dock autohide-delay -float 0

# NOTE: disable command
# defaults delete <option value>

# vim:ft=sh
{{- end }}
