#          _                        __ _
#  ___ ___| |__     ___ ___  _ __  / _(_) __ _
# / __/ __| '_ \   / __/ _ \| '_ \| |_| |/ _` |
# \__ \__ \ | | | | (_| (_) | | | |  _| | (_| |
# |___/___/_| |_|  \___\___/|_| |_|_| |_|\__, |
#                                        |___/
#


############
## Config ##
############

{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{ end -}}

Host _*
    RequestTTY yes
    RemoteCommand tmux new-session -A -s zero

##############
## Personal ##
##############

Host github.com
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519_github

# Host gitlab.com
#     AddKeysToAgent yes
#     PreferredAuthentications publickey
#     IdentityFile ~/.ssh/id_ed25519_gitlab


##########
## Work ##
##########

{{ if (or (eq .chezmoi.hostname "inblrnb0230") (eq .chezmoi.hostname "inblrlxdt001")) -}}
#=============#
#= TP Vision =#
#=============#

Host gitlab.com
    AddKeysToAgent yes
    IdentityFile ~/.ssh/work-tp/id_ed25519_gitlab

Host lab
    HostName 172.27.221.225
    User samyak_bardiya
    ServerAliveInterval 60
    ServerAliveCountMax 3
    TCPKeepAlive yes
    ForwardX11 yes
    ForwardX11Trusted yes
    ForwardAgent no
    Compression yes
    AddKeysToAgent yes
    StrictHostKeyChecking accept-new
    UserKnownHostsFile ~/.ssh/known_hosts
    PasswordAuthentication yes
    # # Key-based auth (faster, more secure)
    # IdentityFile ~/.ssh/id_rsa
    # IdentityFile ~/.ssh/id_ed25519
    # PubkeyAuthentication yes

Host *htv_temp
    HostName ec2-54-93-55-233.eu-central-1.compute.amazonaws.com
    User ubuntu
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/work-tp/wave-hospitality/temp-hospitality-server.pem

{{- end }}
