#          _                        __ _
#  ___ ___| |__     ___ ___  _ __  / _(_) __ _
# / __/ __| '_ \   / __/ _ \| '_ \| |_| |/ _` |
# \__ \__ \ | | | | (_| (_) | | | |  _| | (_| |
# |___/___/_| |_|  \___\___/|_| |_|_| |_|\__, |
#                                        |___/
#


############
## Config ##
############

{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{ end -}}

Host _*
    RequestTTY yes
    RemoteCommand tmux new-session -A -s zero

##############
## Personal ##
##############

Host github.com
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519_github

# Host gitlab.com
#     AddKeysToAgent yes
#     PreferredAuthentications publickey
#     IdentityFile ~/.ssh/id_ed25519_gitlab


##########
## Work ##
##########

{{ if (or (eq .chezmoi.hostname "inblrnb0230") (eq .chezmoi.hostname "inblrlxdt001")) -}}
#=============#
#= TP Vision =#
#=============#

Host gitlab.com
    AddKeysToAgent yes
    IdentityFile ~/.ssh/work-tp/id_ed25519_gitlab

Host lab
    HostName 172.27.221.225
    User samyak_bardiya
    ServerAliveInterval 60
    ServerAliveCountMax 3
    TCPKeepAlive yes
    ForwardX11 yes
    ForwardX11Trusted yes
    ForwardAgent no
    Compression yes
    AddKeysToAgent yes
    StrictHostKeyChecking accept-new
    UserKnownHostsFile ~/.ssh/known_hosts
    IdentityFile ~/.ssh/id_ed25519
    PubkeyAuthentication yes
    DynamicForward 1080                 # Tunnel SOCKS5 Proxy
    LocalForward 3000 localhost:3000    # Signage Portal
    LocalForward 3001 localhost:3001    # Signage Admin Portal
    LocalForward 8080 localhost:8080    # Signage API Service
    LocalForward 8081 localhost:8081    # Signage Display Service
    LocalForward 8082 localhost:8082    # Signage Admin API
    LocalForward 8083 localhost:8083    # Signage Pro Store
    LocalForward 8084 localhost:8084    # Signage Creator Service
    LocalForward 8085 localhost:8085    # Signage Auth Service
    LocalForward 8086 localhost:8086    # Signage Display Simulator
    LocalForward 4566 localhost:4566    # Localhost
    LocalForward 5432 localhost:5432    # PostgreSQL
    LocalForward 27017 localhost:27017  # Mongo DB

    # RequestTTY yes
    # RemoteCommand /home/linuxbrew/.linuxbrew/bin/tmux new-session -A -s zero || /bin/zsh
    # RemoteCommand /bin/tmux new-session -A -s zero || /bin/zsh
    # RemoteCommand tmux new-session -A -s zero || /bin/zsh

Host *htv_temp
    HostName ec2-54-93-55-233.eu-central-1.compute.amazonaws.com
    User ubuntu
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/work-tp/wave-hospitality/temp-hospitality-server.pem

{{- end }}
