[include]
    path = "~/.config/catppuccin/delta/catppuccin.gitconfig"

[commit]
    gpgsign = true

[core]
    excludesfile = ~/.config/git/ignore
    pager = delta
    preloadindex = true

[diff]
    colorMoved = default

[delta]
    features = catppuccin-mocha
    line-numbers = true
    navigate = true

; {{ if eq .chezmoi.os "darwin" -}}
; [gpg]
;     program = /opt/homebrew/bin/gpg
; {{- end }}

[init]
    defaultbranch = main
    templateDir = ~/.config/git/template

[interactive]
    diffFilter = delta --color-only

[merge]
    ; conflictstyle = diff3
    tool = nvimdiff

[pull]
    rebase = true

[push]
    autosetupremote = true

[rebase]
    autoStash = true

[rerere]
    enabled = false

[status]
    branch = true
    showStash = true
    showUntrackedFiles = normal
    submoduleSummary = true

[user]
    name = Samyak Bardiya
    email = mail@samyakbardiya.dev

[includeIf "gitdir:~/work-ct/"]
    path = ~/.config/git/config_work_ct

[includeIf "gitdir:~/work-tp/"]
    path = ~/.config/git/config_work_tp

# vim:ft=gitconfig
