{
  "anthropic": {
    "type": "api",
    "key": "{{ onepasswordRead "op://shared/claude_token/credential" }}"
  },
  "google": {
    "type": "api",
    "key": "{{ onepasswordRead "op://private/gemini_token/credential" }}"
  },
  "opencode": {
    "type": "api",
    "key": "{{ onepasswordRead "op://private/opencode_token/credential" }}"
  },
  "opencode-go": {
    "type": "api",
    "key": "{{ onepasswordRead "op://private/opencode_token/credential" }}"
  }
}
