# 
#        _ _
#   __ _| (_) __ _ ___ _ __ ___
#  / _` | | |/ _` / __| '__/ __|
# | (_| | | | (_| \__ \ | | (__
#  \__,_|_|_|\__,_|___/_|  \___|
#
#
# @samyak039

##########
# CUSTOM #
##########

# advcpmv
alias c='advcp -igr'
alias m='advmv -ig'

# doas
alias doas='doas --'

# clear -x
alias cx='clear -x'
alias cX='clear'

# chezmoi
alias ch='chezmoi'

# emacs
alias e="emacsclient --no-wait -a 'emacs --fg-daemon'"

# hledger
alias hla="hledger-iadd --strict --file $LEDGER_FILE_CURRENT --completion-engine fuzzy"
alias hl="hledger --strict"
alias hlc="hledger --strict check -s ordereddate"
alias hlar="hledger --strict areg"
alias hlacc="hledger --strict accounts"
alias hlact="hledger --strict activity"
alias hladd="hledger --strict add"
alias hlareg="hledger --strict aregister"
alias hlbal="hledger --strict balance"
alias hlbar="hledger --strict bar"
alias hlbs="hledger --strict balancesheet"
alias hlbst="hledger --strict balancesheet --tree"
alias hlbse="hledger --strict balancesheetequity"
alias hlbset="hledger --strict balancesheetequity --tree"
alias hlbudget="hledger --strict balance --budget"
alias hlcf="hledger --strict cashflow"
alias hlcheck="hledger --strict check"
alias hlclose="hledger --strict close"
alias hlcodes="hledger --strict codes"
alias hlcomm="hledger --strict commodities"
alias hldesc="hledger --strict descriptions"
alias hldiff="hledger --strict diff"
alias hlfiles="hledger --strict files"
alias hliadd="hledger --strict-iadd"
alias hlinterest="hledger --strict interest"
alias hlimport="hledger --strict import"
alias hlis="hledger --strict incomestatement"
alias hlist="hledger --strict incomestatement --tree"
alias hllots="hledger --strict lots"
alias hlnotes="hledger --strict notes"
alias hlpayees="hledger --strict payees"
alias hlplot="hledger --strict plot"
alias hlprices="hledger --strict prices"
alias hlhprintx="hledger --strict print --explicit"
alias hlreg="hledger --strict register"
alias hlrewrite="hledger --strict rewrite"
alias hlroi="hledger --strict roi"
alias hlstats="hledger --strict stats"
alias hltags="hledger --strict tags"
alias hlui="hledger --strict ui"
alias hlweb="hledger --strict web"
alias hljan="hledger --strict -p jan"
alias hlfeb="hledger --strict -p feb"
alias hlmar="hledger --strict -p mar"
alias hlapr="hledger --strict -p apr"
alias hlmay="hledger --strict -p may"
alias hljun="hledger --strict -p jun"
alias hljul="hledger --strict -p jul"
alias hlaug="hledger --strict -p aug"
alias hlsep="hledger --strict -p sep"
alias hloct="hledger --strict -p oct"
alias hlnov="hledger --strict -p nov"
alias hldec="hledger --strict -p dec"

# lazy{docker,git}
alias ld="lazydocker"
alias lg="lazygit"

# gitui
alias gu="gitui"

# pacman | paru
alias pacsyu="doas pacman -Sy && doas powerpill -Su && paru -Su"
alias pacsyunc="doas pacman -Sy --noconfirm && doas powerpill -Su --noconfirm && paru -Su --noconfirm"

# eza
alias _ls='/bin/ls'
alias lR='eza --group-directories-first --icons -T'                         # Long format, recursive as a tree
alias la='eza --group-directories-first --icons --all --all --long --git'     # Long format, git status
alias lc='eza --group-directories-first --icons --long --git -schanged'     # Long format, newest status change (ctime) last
alias lk='eza --group-directories-first --icons --long --git -ssize'        # Long format, largest file size last
alias ll='eza --group-directories-first --icons --long --git --no-user'     # Long format, git status
alias llu='eza --group-directories-first --icons --long --git'              # Long format, git status, with user
alias lr='eza --group-directories-first --icons --long --git -T'            # Long format, recursive as a tree
alias ls='eza --group-directories-first --icons --classify'            # Long format, recursive as a tree
alias lt='eza --group-directories-first --icons --long --git -smodified'    # Long format, newest modification time last
alias lx='eza --group-directories-first --icons --long --git -sextension'   # Long format, sort by extension
alias l='ll'

# ip
alias ip='ip -c'

# TP Vision
alias ww='wave_htv'


#####################
# oh-my-zsh/plugins #
#####################

# date | isodate
alias isodate="date +%Y-%m-%dT%H:%M:%S%z"
alias isodate_utc="date -u +%Y-%m-%dT%H:%M:%SZ"
alias isodate_basic="date -u +%Y%m%dT%H%M%SZ"
alias unixstamp="date +%s"
alias date_locale="date +"%c""

# docker
alias dbl='docker build'
alias dcin='docker container inspect'
alias dcls='docker container ls'
alias dclsa='docker container ls -a'
alias dib='docker image build'
alias dii='docker image inspect'
alias dils='docker image ls'
alias dipu='docker image push'
alias dirm='docker image rm'
alias dit='docker image tag'
alias dlo='docker container logs'
alias dnc='docker network create'
alias dncn='docker network connect'
alias dndcn='docker network disconnect'
alias dni='docker network inspect'
alias dnls='docker network ls'
alias dnrm='docker network rm'
alias dpo='docker container port'
alias dpu='docker pull'
alias dr='docker container run'
alias drit='docker container run -it'
alias drm='docker container rm'
alias 'drm!'='docker container rm -f'
alias dst='docker container start'
alias drs='docker container restart'
alias dsta='docker stop $(docker ps -q)'
alias dstp='docker container stop'
alias dtop='docker top'
alias dvi='docker volume inspect'
alias dvls='docker volume ls'
alias dvprune='docker volume prune'
alias dxc='docker container exec'
alias dxcit='docker container exec -it'

# docker compose #
alias dco="docker compose"
alias dcb="docker compose build"
alias dce="docker compose exec"
alias dcps="docker compose ps"
alias dcrestart="docker compose restart"
alias dcrm="docker compose rm"
alias dcr="docker compose run"
alias dcstop="docker compose stop"
alias dcup="docker compose up"
alias dcupb="docker compose up --build"
alias dcupd="docker compose up -d"
alias dcupdb="docker compose up -d --build"
alias dcdn="docker compose down"
alias dcl="docker compose logs"
alias dclf="docker compose logs -f"
alias dclF="docker compose logs -f --tail 0"
alias dcpull="docker compose pull"
alias dcstart="docker compose start"
alias dck="docker compose kill"

# git #
unalias gpf

# yarn
alias y="yarn"
alias ya="yarn add"
alias yad="yarn add --dev"
alias yap="yarn add --peer"
alias yb="yarn build"
alias ycc="yarn cache clean"
alias yd="yarn dev"
alias yf="yarn prettier --check ."
alias yfw="yarn prettier --check --write ."
alias yga="yarn global add"
alias ygls="yarn global list"
alias ygrm="yarn global remove"
alias ygu="yarn global upgrade"
alias yh="yarn help"
alias yi="yarn init"
alias yifl='yarn install --frozen-lockfile'
alias yii='yarn install --frozen-lockfile'
alias yin="yarn install"
alias yln="yarn eslint --max-warnings=0 ."
alias ylnf="yarn eslint --max-warnings=0 --fix ."
alias yls="yarn list"
alias yout="yarn outdated"
alias yp="yarn pack"
alias yrm="yarn remove"
alias yrun="yarn run"
alias ys="yarn serve"
alias yst="yarn start"
alias yt="yarn test"
alias ytc="yarn typecheck"
alias yuca="yarn global upgrade && yarn cache clean"
alias yui="yarn upgrade-interactive"
alias yuil='yarn upgrade-interactive --latest'
alias yup="yarn upgrade"
alias yv="yarn version"
alias yw="yarn workspace"
alias yws="yarn workspaces"
alias yx="yarn tsx"
alias yy="yarn why"

############
# OS-BASED #
############

{{ if eq .chezmoi.os "darwin" -}}

# OSX
alias yc="pbcopy"

{{- else if eq .chezmoi.os "linux" -}}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

# WSL
alias yc="clip.exe"

{{-   else -}}

# Linux
alias yc="xclip"

{{-   end -}}
{{- end }}

############
# UN-ALIAS #
############

unalias gh


# vim:ft=zsh.chezmoitmpl
