#
#                         __ _ _
#    _____ __  _ __ ___  / _(_) | ___
#   |_  / '_ \| '__/ _ \| |_| | |/ _ \
#  _ / /| |_) | | | (_) |  _| | |  __/
# (_)___| .__/|_|  \___/|_| |_|_|\___|
#       |_|
#
# @samyak039


##################
## ENV Variables #
##################

# {{ .chezmoi.hostname }}

{{ if eq .chezmoi.hostname "inblrnb0230" -}}
export AUTH0_CLIENT_ID={{ pass "work-tp/env/DEV/AUTH0_CLIENT_ID" }}
export AUTH0_CLIENT_SECRET={{ pass "work-tp/env/DEV/AUTH0_CLIENT_SECRET" }}
export GITLAB_NPM_TOKEN={{ pass "work-tp/env/GITLAB_NPM_TOKEN" }}
{{- end }}

##########
## EVALS #
##########

## macOS homebrew
{{ if eq .chezmoi.os "darwin" -}}
if [ $(arch) = "arm64" ]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
else
    eval "$(/usr/local/bin/brew shellenv)"
fi
{{ else if eq .chezmoi.os "linux" -}}
if [ -d '/home/linuxbrew/.linuxbrew' ]; then
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi
{{ end -}}

eval "$(atuin init zsh --disable-up-arrow)"
eval "$(zoxide init zsh --cmd d)"

## Development
eval "$(fnm env --use-on-cd --shell zsh)"
source <(fnm completions --shell zsh) > /dev/null 2>&1
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
