########
# CORE #
########

set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm' # Enable undercurls
set -g mouse on # mouse support
set -g set-clipboard on
set -g status-position top # set status bar on top
set -ga terminal-overrides ",xterm-256color:Tc" # 24-bit colors
set -sa terminal-overrides "*:Tc"
set-window-option -g mode-keys vi # vim keybinds

# fast scrolling
bind -T root WheelUpPane   if-shell -F -t = "#{alternate_on}" "send-keys -M" "select-pane -t =; copy-mode -e; send-keys -M"
bind -T root WheelDownPane if-shell -F -t = "#{alternate_on}" "send-keys -M" "select-pane -t =; send-keys -M"

############
# KEYBINDS #
############

# sane prefix
unbind C-b
set -g prefix C-o
bind C-o send-prefix

# bind C-o last-window # Second C-o
bind o last-window # Second C-o

# # sane vim selection mode
# # TODO: not working
#
# bind-key -T copy-mode-vi v send-keys -X begin-selection
# bind-key -T copy-mode-vi C-v send-keys -X rectangle-toggle
# bind-key -T copy-mode-vi y send-keys -X copy-selection-and-cancel

unbind C-/

#----------------#
# Navigator.nvim #
#----------------#
#
# https://github.com/numToStr/Navigator.nvim/wiki/Tmux-Integration

version_pat='s/^tmux[^0-9]*([.0-9]+).*/\1/p'

is_vim="ps -o state= -o comm= -t '#{pane_tty}' \
    | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"
bind-key -n C-h if-shell "$is_vim" "send-keys C-h" "select-pane -L"
bind-key -n C-j if-shell "$is_vim" "send-keys C-j" "select-pane -D"
bind-key -n C-k if-shell "$is_vim" "send-keys C-k" "select-pane -U"
bind-key -n C-l if-shell "$is_vim" "send-keys C-l" "select-pane -R"
tmux_version="$(tmux -V | sed -En "$version_pat")"
setenv -g tmux_version "$tmux_version"

if-shell -b '[ "$(echo "$tmux_version < 3.0" | bc)" = 1 ]' \
  "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\'  'select-pane -l'"
if-shell -b '[ "$(echo "$tmux_version >= 3.0" | bc)" = 1 ]' \
  "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\\\'  'select-pane -l'"

bind-key -T copy-mode-vi C-h select-pane -L
bind-key -T copy-mode-vi C-j select-pane -D
bind-key -T copy-mode-vi C-k select-pane -U
bind-key -T copy-mode-vi C-l select-pane -R
bind-key -T copy-mode-vi C-\\ select-pane -l

###########
# PLUGINS #
###########

set -g @plugin "tmux-plugins/tpm"  # Tmux Plugin Manager

set -g @plugin "2kabhishek/tmux-tea" # tmux sessions as easy as tea
set -g @plugin "AngryMorrocoy/tmux-neolazygit" # Better workflow with nvim + tmux + lazygit
set -g @plugin "catppuccin/tmux"  # Soothing pastel theme for Tmux!
set -g @plugin "joshmedeski/t-smart-tmux-session-manager"  # t - the smart tmux session manager
set -g @plugin "noscript/tmux-mighty-scroll"  # More scroll, less hassle
set -g @plugin "tmux-plugins/tmux-pain-control"  # standard pane key-bindings for tmux
set -g @plugin "tmux-plugins/tmux-sensible"  # basic tmux settings everyone can agree on
set -g @plugin 'jaclu/tmux-power-zoom' # Zoom pane to separate window, and unzoom it back into it's original location

# TODO: Check these plugins later
# set -g @plugin 'graemedavidson/tmux-pane-focus'
# set -g @plugin 'nhdaly/tmux-better-mouse-mode'
# set -g @plugin 'rickstaa/tmux-notify'

# set -g @plugin "aserowy/tmux.nvim"  #  tmux integration for nvim features pane movement and resizing from within nvim.
# set -g @plugin "omerxx/tmux-sessionx"  #  A Tmux session manager, with preview, fuzzy finding, and MORE 
# set -g @plugin "tmux-plugins/tmux-continuum"  # Persists tmux environment across system restarts.
# set -g @plugin "tmux-plugins/tmux-resurrect"  # Continuous saving of tmux environment.

#================#
# PLUGIN-OPTIONS #
#================#

set -g @catppuccin_flavor "mocha"
set -g @catppuccin_status_background "none" # "default"

set -g @catppuccin_window_text " #W"
set -g @catppuccin_window_current_text "#W"
set -g @catppuccin_window_current_number_color "#{@thm_peach}"
set -g @catppuccin_window_current_text_color "fg=#{@thm_peach}"
set -g @catppuccin_window_flags "icon"
set -g @catppuccin_status_left_separator "█"
set -g @catppuccin_status_connect_separator "yes"

set -g @catppuccin_status_session_text_fg "#{E:@thm_crust}"
set -g @catppuccin_status_session_text_bg "#{?client_prefix,#{E:@thm_red},#{E:@thm_green}}"
set -g @catppuccin_date_time_text " %b-%d-%a %H:%M:%S"
set -g @catppuccin_cpu_text " #{l:#{cpu_percentage}} #{l:#{ram_percentage}}"

set -g status-right-length 100
set -g status-left-length 100
set -g status-left ""
set -g status-right "#{E:@catppuccin_status_session}"

# set -g @continuum-boot "on"
# set -g @continuum-restore "on"

set -g @mighty-scroll-pass-through "btop gitui lazydocker lazygit nvim ssh trex vim"

set -g @open-lazygit "g"

# set -g @resurrect-capture-pane-contents "on"
set -g @resurrect-processes "btop lazygit lazydocker neovim ssh"

# set -g @sessionx-bind "u"
# set -g @sessionx-x-path '~/code/'
# set -g @sessionx-zoxide-mode 'on'

set -g @tea-bind "u"
set -g @tea-alt-bind "false"


{{ if eq .chezmoi.os "darwin" -}}
set-environment -g PATH "/opt/homebrew/bin:/bin:/usr/bin"
{{ end -}}

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run "~/.config/tmux/plugins/tpm/tpm"
