local wezterm = require("wezterm")
local mux = wezterm.mux
local config = {}

-- Appearance
config.color_scheme = "Catppuccin Mocha"
config.command_palette_font_size = 12.0
config.cursor_thickness = 2.0
config.default_cursor_style = "SteadyUnderline"
config.underline_position = -4.0
config.underline_thickness = 2.0

-- Config
config.use_resize_increments = false
-- config.command_palette_rows = 10

-- font
local ligature = {
	-- calming
	"ss01", -- == === =/= != !== /= /== ~~ =~ !~
	"ss02", -- >= <=
	"ss03", -- -> <- => <!-- --> <~ <~~ ~> ~~> <~>
	"ss04", -- </ /> </> /\ \/
	"ss05", -- |> <|
	"ss06", -- ## ###
	"ss07", -- *** /* */ /*/ (* *) (*)
	"ss08", -- .= .- ..<
	"ss12",
	"zero",
}
config.font_size = 14
config.font = wezterm.font_with_fallback({
	-- { family = "Fira Code", harfbuzz_features = ligature },
	{ family = "Monaspace Neon", harfbuzz_features = ligature },
	-- { family = "Input Mono", harfbuzz_features = { "ss12" } },
	{ family = "Symbols Nerd Font Mono", scale = 1.00 },
})

-- Tab Bar
config.hide_tab_bar_if_only_one_tab = true
config.switch_to_last_active_tab_when_closing_tab = false

-- Window
config.window_close_confirmation = "NeverPrompt"
config.window_decorations = "RESIZE"
config.window_frame = {
	font = wezterm.font({ family = "MonaspiceKr Nerd Font", weight = "Bold" }),
	font_size = 10.0,
}
config.window_padding = {
	left = "1cell",
	right = "1cell",
	top = "0.5cell",
	bottom = 0,
}

-- Key Bindings
config.keys = {
	{ key = "a", mods = "CTRL|SHIFT", action = wezterm.action.ActivateCopyMode },
	{ key = "F11", action = wezterm.action.ToggleFullScreen },
}

-- Init
{{ if eq .chezmoi.os "windows" -}}
config.default_prog = { "wsl", "--", "tmux", "new-session", "-A", "-s", "0_o" }
{{ end -}}
wezterm.on("gui-startup", function(cmd)
	local tab, pane, window = mux.spawn_window(cmd or {})
	window:gui_window():toggle_fullscreen()
end)

return config

-- vim:ft=lua
