{{- $current := dict -}}
{{- $file := joinPath .chezmoi.homeDir ".pi/agent/settings.json" -}}
{{- if stat $file -}}
{{-   $current = include $file | fromJson -}}
{{- end -}}

{
  "autocompleteMaxVisible": 10,
  "compaction": {
    "enabled": true,
    "keepRecentTokens": 19200,
    "reserveTokens": 19200
  },
  "defaultModel": "{{ dig "defaultModel" "mimo-v2.5-pro" $current }}",
  "defaultProvider": "{{ dig "defaultProvider" "opencode-go" $current }}",
  "defaultThinkingLevel": "{{ dig "defaultThinkingLevel" "mid" $current }}",
  "doubleEscapeAction": "tree",
  "enabledModels": [
    "opencode-go/minimax-m3",
    "opencode-go/qwen3.7-max",
    "opencode-go/kimi-k2.7-code",
    "opencode-go/mimo-v2.5-pro",
    "google/gemini-flash-latest"
  ],
  "enableInstallTelemetry": false,
  "enableSkillCommands": true,
  "followUpMode": "all",
  "hideThinkingBlock": true,
  "lastChangelogVersion": "{{ dig "lastChangelogVersion" "0.0.0" $current }}",
  {{- /* prettier-ignore */}}
  "npmCommand": [
    "bun"
  ],
  "quietStartup": true,
  "retry": {
    "enabled": true,
    "maxRetries": 3
  },
  "theme": "catppuccin-mocha",
  "warnings": {
    "anthropicExtraUsage": true
  },

  {{- /* packages */}}
  "packages": [
    "npm:@agnishc/edb-auto-name-session",
    "npm:@aliou/pi-guardrails",
    "npm:@ff-labs/pi-fff",
    "npm:@juicesharp/rpiv-btw",
    "npm:@sherif-fanous/pi-catppuccin",
    "npm:@tmustier/pi-usage-extension",
    "npm:context-mode",
    "npm:pi-powerline-footer",
    "npm:pi-simplify",
    "npm:pi-subagents"
  ],

  {{- /* package configs */}}
  "powerline": {
    "preset": "default",
    "fixedEditor": true
  }
}
