# man 5 alacritty

[general]
import = ["themes/catppuccin-mocha.toml"]

# [terminal.shell]
# program = "tmux"
# args = ["new-session", "-A", "-s", "0_o"]

[window]
dynamic_padding = true
decorations = "buttonless"
opacity = 1.0
blur = true
startup_mode = "Maximized"

{{ if eq .chezmoi.os "darwin" -}}
option_as_alt = "OnlyLeft"
{{ end -}}

[font]
size = 16
builtin_box_drawing = true

[font.normal]
family = "MonaspiceAr NF"
style = "Regular"

[font.bold]
family = "MonaspiceAr NF"
style = "Bold"

[font.bold_italic]
family = "MonaspiceAr NF"
style = "Bold"

[font.italic]
family = "MonaspiceAr NF"
style = "Italic"

[selection]
save_to_clipboard = true

[cursor]
style = { shape = "Underline", blinking = "Never" }
vi_mode_style = { shape = "Block", blinking = "Always" }
unfocused_hollow = true
thickness = 0.25

[mouse]
hide_when_typing = true
bindings = [
  { mouse = "Right", action = "ExpandSelection" },
  { mouse = "Middle", mode = "~Vi", action = "PasteSelection" },
]

[hints]
alphabet = "hutenosadigpc.r,l;"

[keyboard]
bindings = [
  { key = "Return", mods = "Control", mode = "~Vi", action = "SpawnNewInstance" },
]
